.header {
    width: 100%;
    height: 20%;
}

.main {
    flex-direction: column;
}

.outBox {
    justify-content: space-around;

}

.icon_1 {
    width: 40%;
    height: 150px;
    border-radius: 15px;
    opacity: 0.73;
    background: url(../img/index-card-rank.png) no-repeat;
    background-size: 70%;
    background-color: #1592CC;
}

.ranking {
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
    color: #004E73;
}

.text {
    position: absolute;
    top: 208px;
    left: 95px;
    font-size: 80px;
    text-align: right;
    color: #fff;
}

.icon_2 {
    width: 50%;
    height: 150px;
    border-radius: 15px;
    background: url(../img/index-card-sum.png) no-repeat;
    background-size: 60%;
    background-color: #7BCBF5;
    opacity: 0.73;
}

.clock {
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
    color: #005177;
}

.dayClock {
    padding: 0 4%;
    position: absolute;
    right: 23px;
    top: 250px;
    width: 27%;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    border: 2px solid #004E73;
    border-radius: 20px;
    color: #005177;
    font-weight: bold;
}

.data {
    margin-top: 20px;
    justify-content: space-around;
}

.icon_3 {
    width: calc(48% - 1.5%);
    height: 110px;
    border-radius: 15px;
    background-color: blueviolet;
}

.icon_4 {
    width: calc(48% - 1.5%);
    height: 110px;
    border-radius: 15px;
    background-color: brown;
}

.curriculum {
    margin-top: 20px;
    width: 100%;
    height: 110px;
    border-radius: 15px;
    background-color: burlywood;
}

.outdoors {
    margin-top: 20px;
    width: 100%;
    height: 110px;
    border-radius: 15px;
    background-color: rgb(112, 10, 44);
}

.footer {
    margin-top: 20px;
    justify-content: space-around;
}